Package: org.thebigboss.libcolorpicker
Name: libcolorpicker
Depends: firmware (>= 7.0)
Version: 1.6.9
Replaces: me.nepeta.libcolorpicker, ws.hbang.alderis
Provides: me.nepeta.libcolorpicker, ws.hbang.alderis
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Brend0n <brendonjkding@126.com>
Author: Bailey Seymour
Section: System
