Package: org.thebigboss.libcolorpicker
Name: libcolorpicker
Depends:
Version: 1.4
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Bailey Seymour
Author: Bailey Seymour
Section: System
Tag: role::developer
