Package: org.thebigboss.libcolorpicker
Name: libcolorpicker
Depends: firmware (>= 6.0)
Version: 1.6.7
Replaces: me.nepeta.libcolorpicker
Provides: me.nepeta.libcolorpicker
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: Bailey Seymour
Author: Bailey Seymour
Section: System
Tag: role::developer
